Objectif du point de contrôle
Cet ensemble de données contient des données de campagne de marketing bancaire et nous pouvons l'utiliser pour optimiser les campagnes de marketing afin d'attirer plus de clients vers l'abonnement aux dépôts à terme

In [1]:
##Importez votre ensemble de données et effectuez une analyse et une visualisation initiales

import pandas as pd

data=pd.read_csv("bank.csv")

In [2]:
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [4]:
data.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

Il y'a pas de données manquantes

In [5]:
data.describe()

,age,balance,day,duration,campaign,pdays,previous
count,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000
mean,41.231948,1528.538524,15.658036,371.993818,2.508421,51.330407,0.832557
std,11.913369,3225.413326,8.420740,347.128386,2.722077,108.758282,2.292007
min,18.000000,-6847.000000,1.000000,2.000000,1.000000,-1.000000,0.000000
25%,32.000000,122.000000,8.000000,138.000000,1.000000,-1.000000,0.000000
50%,39.000000,550.000000,15.000000,255.000000,2.000000,-1.000000,0.000000
75%,49.000000,1708.000000,22.000000,496.000000,3.000000,20.750000,1.000000
max,95.000000,81204.000000,31.000000,3881.000000,63.000000,854.000000,58.000000

In [6]:
#Utilisez le profilage pandas pour explorer l'ensemble de données.


from pandas_profiling import ProfileReport

# Read in the data
data= pd.read_csv('bank.csv')
profile = ProfileReport(data, title='Pandas Profiling Report', explorative=True)
profile.to_file('rapport.bank')

C:\Users\Hp\AppData\Local\Temp\ipykernel_15424\1184758776.py:4: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

C:\Users\Hp\anaconda3\lib\site-packages\pandas_profiling\profile_report.py:314: UserWarning: Extension .bank not supported. For now we assume .html was intended. To remove this warning, please use .html or .json.
  warnings.warn(

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [7]:
##Construire un réseau d'apprentissage en profondeur pour prédire le résultat de la campagne marketing ("dépôt" soit Oui ou Non)

In [43]:
## Importation des bibliothèque

import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.optimizers import RMSprop
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [44]:
### On définit X
X=data.drop(['job','marital','education','default','housing','loan','month','contact','campaign','poutcome','deposit'], axis=1)

In [65]:
X

       age  balance  day  duration  pdays  previous
0       59     2343    5      1042     -1         0
1       56       45    5      1467     -1         0
2       41     1270    5      1389     -1         0
3       55     2476    5       579     -1         0
4       54      184    5       673     -1         0
...    ...      ...  ...       ...    ...       ...
11157   33        1   20       257     -1         0
11158   39      733   16        83     -1         0
11159   32       29   19       156     -1         0
11160   43        0    8         9    172         5
11161   34        0    9       628     -1         0

[11162 rows x 6 columns]

In [45]:
##Remplacer par no et yes les valeurs 0 et 1 
data['deposit'].replace(['no','yes'],[0,1], inplace=True)

In [46]:
Y=data['deposit']

In [60]:
from sklearn.model_selection import train_test_split
num_classes = 2
batch_size = 128
epochs = 40

# Divisez les données en ensembles d'entraînement et de test (par exemple, 80% pour l'entraînement, 20% pour les tests)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [70]:
# convert class vectors to binary class matrices
train_labels_categ = keras.utils.to_categorical(Y_train, 2)
test_labels_categ = keras.utils.to_categorical(Y_test, 2)

In [71]:
train_labels_categ

array([[0., 1.],
       [1., 0.],
       [0., 1.],
       ...,
       [1., 0.],
       [0., 1.],
       [1., 0.]], dtype=float32)

In [74]:
Y_train

3955     1
11150    0
5173     1
3017     1
2910     1
        ..
5734     0
5191     1
5390     0
860      1
7270     0
Name: deposit, Length: 8929, dtype: int64

In [61]:
# Créez un modèle séquentiel
model = Sequential()

In [66]:
# Ajoutez une couche d'entrée avec la taille appropriée (selon vos données)
model.add(Dense(64, input_shape=(6,), activation='relu'))

In [67]:
# Ajoutez une couche cachée
model.add(Dense(128, activation='relu'))

In [68]:
# Ajoutez une couche de sortie avec le nombre approprié de classes (selon vos données)
model.add(Dense(num_classes, activation='softmax'))

In [69]:
# Compilez le modèle avec une fonction de perte et un optimiseur appropriés
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [72]:
history = model.fit(X_train, train_labels_categ,
                    batch_size=batch_size,
                    epochs=epochs,
                    verbose=1,
                    validation_data=(X_test, test_labels_categ))

Epoch 1/40
70/70 [==============================] - 2s 9ms/step - loss: 5.8355 - accuracy: 0.6462 - val_loss: 1.7516 - val_accuracy: 0.6700
Epoch 2/40
70/70 [==============================] - 0s 4ms/step - loss: 1.7830 - accuracy: 0.6899 - val_loss: 3.3195 - val_accuracy: 0.6314
Epoch 3/40
70/70 [==============================] - 0s 5ms/step - loss: 2.0095 - accuracy: 0.6791 - val_loss: 1.5017 - val_accuracy: 0.6986
Epoch 4/40
70/70 [==============================] - 0s 5ms/step - loss: 2.1112 - accuracy: 0.6772 - val_loss: 1.1693 - val_accuracy: 0.7031
Epoch 5/40
70/70 [==============================] - 0s 5ms/step - loss: 1.5331 - accuracy: 0.6909 - val_loss: 1.7135 - val_accuracy: 0.6543
Epoch 6/40
70/70 [==============================] - 0s 5ms/step - loss: 1.6716 - accuracy: 0.6844 - val_loss: 1.6940 - val_accuracy: 0.6726
Epoch 7/40
70/70 [==============================] - 0s 5ms/step - loss: 2.6171 - accuracy: 0.6583 - val_loss: 1.8697 - val_accuracy: 0.6803
Epoch 8/40
70/70 [==============================] - 0s 5ms/step - loss: 1.2708 - accuracy: 0.7062 - val_loss: 1.9362 - val_accuracy: 0.6570
Epoch 9/40
70/70 [==============================] - 0s 5ms/step - loss: 1.6733 - accuracy: 0.6893 - val_loss: 3.3949 - val_accuracy: 0.6435
Epoch 10/40
70/70 [==============================] - 0s 5ms/step - loss: 1.8935 - accuracy: 0.6874 - val_loss: 1.9217 - val_accuracy: 0.6977
Epoch 11/40
70/70 [==============================] - 0s 5ms/step - loss: 2.1131 - accuracy: 0.6869 - val_loss: 1.7860 - val_accuracy: 0.6910
Epoch 12/40
70/70 [==============================] - 0s 5ms/step - loss: 2.7629 - accuracy: 0.6661 - val_loss: 8.4335 - val_accuracy: 0.5858
Epoch 13/40
70/70 [==============================] - 0s 6ms/step - loss: 3.5258 - accuracy: 0.6526 - val_loss: 2.1405 - val_accuracy: 0.7282
Epoch 14/40
70/70 [==============================] - 0s 5ms/step - loss: 1.4239 - accuracy: 0.7089 - val_loss: 1.7205 - val_accuracy: 0.6847
Epoch 15/40
70/70 [==============================] - 0s 6ms/step - loss: 1.5683 - accuracy: 0.6909 - val_loss: 1.2154 - val_accuracy: 0.6838
Epoch 16/40
70/70 [==============================] - 0s 6ms/step - loss: 1.7568 - accuracy: 0.6986 - val_loss: 2.4112 - val_accuracy: 0.6767
Epoch 17/40
70/70 [==============================] - 0s 6ms/step - loss: 1.5249 - accuracy: 0.6964 - val_loss: 1.9646 - val_accuracy: 0.6453
Epoch 18/40
70/70 [==============================] - 0s 7ms/step - loss: 1.5752 - accuracy: 0.6964 - val_loss: 0.8257 - val_accuracy: 0.7219
Epoch 19/40
70/70 [==============================] - 0s 6ms/step - loss: 0.9575 - accuracy: 0.7199 - val_loss: 1.4333 - val_accuracy: 0.6099
Epoch 20/40
70/70 [==============================] - 0s 6ms/step - loss: 1.3908 - accuracy: 0.6897 - val_loss: 4.3521 - val_accuracy: 0.5687
Epoch 21/40
70/70 [==============================] - 0s 7ms/step - loss: 1.4949 - accuracy: 0.6916 - val_loss: 1.1883 - val_accuracy: 0.7152
Epoch 22/40
70/70 [==============================] - 0s 7ms/step - loss: 1.7846 - accuracy: 0.6878 - val_loss: 0.8665 - val_accuracy: 0.7456
Epoch 23/40
70/70 [==============================] - 0s 5ms/step - loss: 0.9723 - accuracy: 0.7228 - val_loss: 0.9079 - val_accuracy: 0.7058
Epoch 24/40
70/70 [==============================] - 0s 6ms/step - loss: 2.5034 - accuracy: 0.6860 - val_loss: 2.5459 - val_accuracy: 0.6534
Epoch 25/40
70/70 [==============================] - 0s 5ms/step - loss: 1.1264 - accuracy: 0.7265 - val_loss: 0.7928 - val_accuracy: 0.7362
Epoch 26/40
70/70 [==============================] - 0s 6ms/step - loss: 1.9101 - accuracy: 0.6852 - val_loss: 1.1594 - val_accuracy: 0.7367
Epoch 27/40
70/70 [==============================] - 0s 5ms/step - loss: 1.1874 - accuracy: 0.7115 - val_loss: 4.9769 - val_accuracy: 0.5943
Epoch 28/40
70/70 [==============================] - 1s 7ms/step - loss: 1.6630 - accuracy: 0.6993 - val_loss: 0.9322 - val_accuracy: 0.6906
Epoch 29/40
70/70 [==============================] - 0s 6ms/step - loss: 1.1090 - accuracy: 0.7074 - val_loss: 1.6111 - val_accuracy: 0.6888
Epoch 30/40
70/70 [==============================] - 0s 7ms/step - loss: 1.0244 - accuracy: 0.7187 - val_loss: 1.0558 - val_accuracy: 0.7277
Epoch 31/40
70/70 [==============================] - 0s 7ms/step - loss: 1.2970 - accuracy: 0.6973 - val_loss: 1.5301 - val_accuracy: 0.6601
Epoch 32/40
70/70 [==============================] - 0s 6ms/step - loss: 1.7472 - accuracy: 0.6844 - val_loss: 1.7120 - val_accuracy: 0.6592
Epoch 33/40
70/70 [==============================] - 1s 8ms/step - loss: 1.5613 - accuracy: 0.6987 - val_loss: 2.5171 - val_accuracy: 0.6426
Epoch 34/40
70/70 [==============================] - 0s 7ms/step - loss: 1.6157 - accuracy: 0.7005 - val_loss: 0.8750 - val_accuracy: 0.7232
Epoch 35/40
70/70 [==============================] - 0s 6ms/step - loss: 0.8477 - accuracy: 0.7352 - val_loss: 0.8265 - val_accuracy: 0.7434
Epoch 36/40
70/70 [==============================] - 0s 5ms/step - loss: 1.1948 - accuracy: 0.7137 - val_loss: 1.5193 - val_accuracy: 0.6798
Epoch 37/40
70/70 [==============================] - 0s 6ms/step - loss: 1.4714 - accuracy: 0.6973 - val_loss: 0.9601 - val_accuracy: 0.7434
Epoch 38/40
70/70 [==============================] - 0s 6ms/step - loss: 1.0465 - accuracy: 0.7283 - val_loss: 0.9552 - val_accuracy: 0.7246
Epoch 39/40
70/70 [==============================] - 0s 6ms/step - loss: 0.7895 - accuracy: 0.7379 - val_loss: 0.6363 - val_accuracy: 0.7344
Epoch 40/40
70/70 [==============================] - 0s 6ms/step - loss: 0.8314 - accuracy: 0.7255 - val_loss: 2.1028 - val_accuracy: 0.6319

In [73]:
score = model.evaluate(X_test, test_labels_categ, verbose=0)
print('Test accuracy:', score[1])

Test accuracy: 0.6318853497505188